<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/form.css">
    <title>To Do List</title>
</head>
<body>

    <form class="box" action="/form" method="POST">
        <div class="grid-container">
            <div class="grid-item one">
                <input name="title" type="text" class="titl" placeholder="Enter the title to your post" />
            </div>
            <div class="grid-item two">
                <input name="name" type="text"placeholder="Username" />
                <input name="email" type="text"placeholder="Email" />
            </div>
            <div  class="grid-item three">
                <textarea name="text"placeholder="What do you wonna post about"></textarea>
            </div>
            <div  class="grid-item four">
                <input type="submit" value="POST" class="btn"/>
                <a href="/" class="link">BACK</a>
            </div>
        </div>
    </form>
</body>
</html>