body{
    margin: 0px;
}
body *{
    font-family: sans-serif;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-rows: 70px auto 35px;
}
.post{
    border: solid #0766AD 1px;
    display: grid;
    height: 30px;
    grid-template-columns: 70px auto 70px;
    align-items: center;
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
.page-body{
    margin-top: 5%;
}
.post > input{
    margin: 0px;
    padding: 0px;
}
a{
    background-color: #0766AD;
    color: white;
    text-decoration: none;
}
.empty{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.btn-about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #0766AD;
}
.topic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70px;
    text-align: center;
}
p{
    margin: 0px;
}